<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html" [ngClass]="{'highlight': titleStyle}">conduit</a>
    <!-- <a class="navbar-brand" href="index.html" [ngStyle]="{'color': titleStyle ? 'red' : '#5CB85C'}">conduit</a> -->
    <!-- <a class="navbar-brand" href="index.html" [class.highlight]="titleStyle" [style.font-size.px]="fontSize">conduit</a> -->
    <!-- <a class="navbar-brand" href="index.html" [style.font-size.px]="fontSize">conduit</a> -->
    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="searchText" (keyup.enter)="goSearch()">
    <button class="btn btn-sm btn-primary" (click)="goSearch()">
      <i class="ion-search"></i>
    </button>
    <!-- <span *ngIf="searchError" style="color:red;">請輸入查詢條件</span> -->
    <span class="highlight">
      <ng-container *ngIf="searchText; then searchKeyword; else noKeyword"></ng-container>
      <ng-template #noKeyword>請輸入查詢條件</ng-template>
      <ng-template #searchKeyword>輸入內容為: {{ searchText }}</ng-template>
    </span>
  </div>
</nav>
